<div class="container-fluid">
  <div class="row">
    <h2 class="text-center">MEALS</h2>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2 shadow">
        <div class="position-relative">
          <a href="javascript:void(0)"><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
              alt="..."></a>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn changPrimary  p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-4"  data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-list"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-5">Boat Headphone</h6>
          <div class="d-flex align-items-center px-2 gap-5 justify-content-between">
            <h6 class="fw-semibold fs-6 mb-0">$50</h6>
            <div class="d-flex justify-content-end">
              <span class="badge bg-info rounded-3 fw-semibold">success</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

