<div class="container-fluid ">
  <div class="row d-flex JustCenter">
    <h2 class="text-center">Orders</h2>
    <div class="col-lg-10 d-flex align-items-stretch w-100">
      <div class="card w-100 shadow">
        <div class="card-body p-4">
          <h3 class="card-title fw-semibold mb-4 btn btnPrimary text-white changPrimary">Make Order</h3>
          <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
              <thead class="bg-light">
                <tr>
                  <th>order</th>
                  <th>user</th>
                  <th>country</th>
                  <th>shipping</th>
                  <th>total</th>
                  <th>status</th>
                  <th>Delete</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-normal mb-1">John Doe</p>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">john</p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">EG</p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">40 $</p>
                  </td>
                  <td>
                    <span class=" fw-normal">576 $</span>
                  </td>
                  <td>
                    <span class="badge bg-info rounded-3 fw-semibold">success</span>
                  </td>
                  <td> <button type="button"
                      class="btn text-danger btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Delete
                    </button></td>
                  <td>
                    <button type="button"
                      class="btn text-indigo btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-normal mb-1">John Doe</p>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">john</p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">EG</p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">40 $</p>
                  </td>
                  <td>
                    <span class=" fw-normal">576 $</span>
                  </td>
                  <td>
                    <span class="badge bg-info rounded-3 fw-semibold">success</span>
                  </td>
                  <td> <button type="button"
                      class="btn text-danger btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Delete
                    </button></td>
                  <td>
                    <button type="button"
                      class="btn text-indigo btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-normal mb-1">John Doe</p>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">john</p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">EG</p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">40 $</p>
                  </td>
                  <td>
                    <span class=" fw-normal">576 $</span>
                  </td>
                  <td>
                    <span class="badge bg-danger rounded-3 fw-semibold">rejected</span>
                  </td>
                  <td> <button type="button"
                      class="btn text-danger btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Delete
                    </button></td>
                  <td>
                    <button type="button"
                      class="btn text-indigo btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
