<div class="container-fluid ">
  <div class="row d-flex JustCenter">
    <h2 class="text-center">coachs</h2>
    <div class="col-lg-10 d-flex align-items-stretch w-100">
      <div class="card w-100 shadow">
        <div class="card-body p-4">
          <h3 class="card-title fw-semibold mb-4 btn btnPrimary text-white changPrimary">add coach</h3>
          <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
              <thead class="bg-light">
                <tr>
                  <th>Name</th>
                  <th>role</th>
                  <th>Delete</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                      <div class="ms-3">
                        <p class="fw-bold mb-1">John Doe</p>
                        <p class="text-muted mb-0">john.doe.com</p>
                      </div>
                    </div>
                  </td>
                  <!-- <td>
                    <p class="fw-normal mb-1">Software engineer</p>
                    <p class="text-muted mb-0">IT department</p>
                  </td> -->
                  <td>
                    <span class="badge bg-info rounded-bill fw-semibold">coach</span>
                  </td>
                  <td> <button type="button"
                      class="btn text-danger btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Delete
                    </button></td>
                  <td>
                    <button type="button"
                      class="btn text-indigo btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                        style="width: 45px; height: 45px" />
                      <div class="ms-3">
                        <p class="fw-bold mb-1">Alex Ray</p>
                        <p class="text-muted mb-0">alex.raygmail.com</p>
                      </div>
                    </div>
                  </td>
                  <!-- <td>
                    <p class="fw-normal mb-1">Consultant</p>
                    <p class="text-muted mb-0">Finance</p>
                  </td> -->
                  <td>
                    <span class="badge bg-info rounded-bill fw-semibold">coach</span>
                  </td>
                  <td> <button type="button"
                      class="btn text-danger btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Delete
                    </button></td>
                  <td>
                    <button type="button"
                      class="btn text-indigo btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
                        style="width: 45px; height: 45px" />
                      <div class="ms-3">
                        <p class="fw-bold mb-1">Kate Hunington</p>
                        <p class="text-muted mb-0">kate.huningtongmail.com</p>
                      </div>
                    </div>
                  </td>
                  <!-- <td>
                    <p class="fw-normal mb-1">Designer</p>
                    <p class="text-muted mb-0">UI/UX</p>
                  </td> -->
                  <td>
                    <span class="badge bg-info rounded-bill fw-semibold">coach</span>
                  </td>
                  <td> <button type="button"
                      class="btn text-danger btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Delete
                    </button></td>
                  <td>
                    <button type="button"
                      class="btn text-indigo btn-sm bg-body-secondary btn-light-indigo rounded-bill">
                      Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
