<form class="vh-100" [formGroup]="mealForm" (ngSubmit)="onSubmit(mealForm)" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h3 class="text-indigo text-opacity-75 text-center  mb-4">Add Meal</h3>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">title</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" class="form-control form-control-lg" formControlName="title"/>
                <div *ngIf="mealForm.get('title')?.errors && mealForm.get('title')?.touched" class="alert alert-danger p-1">
                  <p  *ngIf="mealForm.get('title')?.getError('required')" class="m-0" >title require</p>
                </div>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <div class="mb-0">
                  <h6 class="mb-0">category</h6>

                </div>

              </div>
              <select formControlName="category" class="col-md-8 rounded-4 bg-white" style="border-radius: 15px !important; height:8vh !important; border: 1px solid #ded8df">
                <option selected>select category</option>
                <option value="non-vegetarian">normal</option>
                <option value="vegan">Vegan</option>
                <option value="vegetarian">vegetarian</option>
              </select>
              <div *ngIf="mealForm.get('category')?.errors && mealForm.get('category')?.touched" class="alert alert-danger p-1">
                <p  *ngIf="mealForm.get('category')?.getError('required')" class="m-0" >category require</p>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">price</h6>

              </div>
              <div class="col-md-9 pe-5">
                <input type="number" formControlName="price" class="form-control form-control-lg" />
                <div *ngIf="mealForm.get('price')?.errors && mealForm.get('price')?.touched" class="alert alert-danger p-1">
                  <p  *ngIf="mealForm.get('price')?.getError('required')" class="m-0" >firstname require</p>
                </div>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Upload meal image</h6>
              </div>
              <div class="col-md-9 pe-5">

                <input class="form-control form-control-lg" id="formFileLg" type="file" formControlName="imageFile"/>
                <div *ngIf="mealForm.get('imageFile')?.errors && mealForm.get('imageFile')?.touched" class="alert alert-danger p-1">
                  <p  *ngIf="mealForm.get('imageFile')?.getError('required')" class="m-0" >image require</p>
                  <p  *ngIf="mealForm.get('imageFile')?.getError('fileSizeValidator')" class="m-0" >image exceeds</p>

                </div>
                <div class="small text-muted mt-2">max size 50mps</div>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button type="submit" class="btn changPrimary btnPrimary text-white btn-lg">Submit</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</form>